.container {
  margin: 20px;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.entries-container {
  display: flex;
  align-items: center;
}

.entries-container label,
.entries-container select,
.entries-container span {
  margin-right: 5px;
}

.search-container {
  display: flex;
  align-items: center;
}

.table_container {
  margin-bottom: 20px;
  width: 100%;
}

.pagination-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.pagination {
  display: flex;
  align-items: center;
}

.pagination button {
  margin-right: 5px;
}

.page-number {
  margin: 0 10px;
}

a {
  display: block;
  margin-top: 20px;
}

.tableinfo_container {
  text-align: left;
  font-size: 14px;
  color: #555;
  margin-right: 10px;
}

/* Styles supplémentaires pour le composant EmployeeTable */
.arrow_container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sort-arrows {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.sort-arrow {
  font-size: 14px;
  color: gray; /* Couleur grise par défaut */
}

.sort-asc {
  color: black; /* Couleur active */
}

.sort-desc {
  color: black; /* Couleur active */
}

.sort-default {
  color: lightgray;
}
