/* Conteneur pour le contenu de l'en-tête */
.arrow_container {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
.sort-arrows {
display: flex;
flex-direction: column;
margin-left: 5px;
}

/* Styles par défaut pour les flèches de tri */
.sort-arrow {
font-size: 14px;
color: gray; /* Couleur grise par défaut */
}

/* Flèche active en ordre ascendant */
.sort-asc {
color: black; /* Couleur active */
}

/* Flèche active en ordre descendant */
.sort-desc {
color: black; /* Couleur active */
}

/* Flèche par défaut (grise) */
.sort-default {
color: lightgray;
}

