.App {
  margin: 20px;
  width: 304px;
  padding: 40px;
  background-color:#fff;
  border-width:1px;
  border-style:solid;
  border-bottom-color:#aaa;
  border-right-color:#aaa;
  border-top-color:#ddd;
  border-left-color:#ddd;
  border-radius:15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
}
